<head>
	<title>Bestnid</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pensar con el corazon y no con la billetera">
    <meta name="author" content="BananaSoft">

    <title>Bestnid</title>

    <!--stylesheets de bootstrap-->
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS, item-->
    <link href="stylesheets/shop-item.css" rel="stylesheet">

    <!-- Custom CSS, homepage-->
    <link href="stylesheets/shop-homepage.css" rel="stylesheet">

    
</head>
