<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>
	<body>
		<% include partials/nav.ejs %>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="alert alert-danger">
				<%= mensaje %>
			</div>
		</div>
		<% include partials/footer.ejs %>
	</body>

	<script src="/javascript/chequeoNotificaciones.js"></script>
	
</html>