<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>
	<body>
		<% include partials/nav.ejs %>
		<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:5em;">
			<% if (pago) { %>
				<div class="alert alert-success">
					<span>Su pago se ha efectuado exitosamente</span>
				</div>
			<% } %>
			<div class="jumbotron text-center">
				<h2>Datos de contacto del publicador:</h2>
				<p><b>Nombre de usuario: </b><%=nombreUsuario%></p>
				<p><b>E-Mail: </b><%=mail%></p>
				<br>
				<a href="/"><button class="btn btn-success">Continuar Ofertando</button></a>
			</div>
		</div>
		<% include partials/footer.ejs %>
	</body>

	<script>
		$(document).ready(function(){
			setTimeout(function() {
		        $(".alert").slideUp('fast');
		    }, 3000);
		});
	</script>

</html>