<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/nav.ejs %>
	 <!-- Page Content -->
  	<% if (usuarios.length) { %>
		<table class="table">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Email</th>
					<th>Pass</th>
					<th>Perfil</th>
				</tr>
			</thead>
			<tbody>	
		    	<% usuarios.forEach(function(datos) { %> 
			    	<tr>
						<td><%= datos.nombre_usuario %></td>
						<td><%= datos.email %></td>
						<td><%= datos.pass %></td>
						<td><a href="/usuario/<%=datos.id%>" class="btn btn-success">
								<span class="glyphicon glyphicon-user"></span> Ver
							</a>
						</td>
						<td>
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
	<% }else{ %>
		<div class="alert alert-danger">Actualmente no hay usuarios</div>
	<% } %>
    <!-- /.container -->
	<% include partials/footer.ejs %>
	
</body>
</html>