<head>
	<title>Bestnid</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pensar con el corazon y no con la billetera">
    <meta name="author" content="BananaSoft">

    <title>Bestnid</title>

    <!--stylesheets de bootstrap-->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS, item-->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/shop-item.css">

    <!-- Custom CSS, homepage-->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/shop-homepage.css">

    
</head>
